[submodule "plugins/headweb"]
	path = plugins/headweb
	url = git://github.com/andoma/showtime-plugin-headweb.git
[submodule "plugins/svtplay"]
	path = plugins/svtplay
	url = git://github.com/andoma/showtime-plugin-svtplay.git
[submodule "plugins/tv4play"]
	path = plugins/tv4play
	url = git://github.com/andoma/showtime-plugin-tv4play.git
[submodule "plugins/viastream"]
	path = plugins/viastream
	url = git://github.com/andoma/showtime-plugin-viastream.git
[submodule "plugins/dropbox"]
	path = plugins/dropbox
	url = git://github.com/andoma/showtime-plugin-dropbox.git
[submodule "plugins/gametrailers"]
	path = plugins/gametrailers
	url = https://github.com/facanferff/showtime-plugin-gametrailers.git
[submodule "plugins/channel9"]
	path = plugins/channel9
	url = https://github.com/facanferff/showtime-plugin-channel9.git
[submodule "plugins/watchtv"]
	path = plugins/watchtv
	url = https://github.com/facanferff/showtime-plugin-watchtv.git
