[submodule "plugins/headweb"]
	path = plugins/headweb
	url = git://github.com/andoma/showtime-plugin-headweb.git
[submodule "plugins/svtplay"]
	path = plugins/svtplay
	url = git://github.com/andoma/showtime-plugin-svtplay.git
[submodule "plugins/tv4play"]
	path = plugins/tv4play
	url = git://github.com/andoma/showtime-plugin-tv4play.git
[submodule "plugins/viastream"]
	path = plugins/viastream
	url = git://github.com/andoma/showtime-plugin-viastream.git
[submodule "plugins/dropbox"]
	path = plugins/dropbox
	url = git://github.com/andoma/showtime-plugin-dropbox.git
[submodule "plugins/gametrailers"]
	path = plugins/gametrailers
	url = https://github.com/facanferff/showtime-plugin-gametrailers.git
[submodule "plugins/channel9"]
	path = plugins/channel9
	url = https://github.com/facanferff/showtime-plugin-channel9.git
[submodule "plugins/watchtv"]
	path = plugins/watchtv
	url = https://github.com/facanferff/showtime-plugin-watchtv.git
[submodule "plugins/youtube"]
	path = plugins/youtube
	url = git://github.com/facanferff/showtime-plugin-youtube.git
[submodule "plugins/ted"]
	path = plugins/ted
	url = https://github.com/NP-/showtime-plugin-ted.git
[submodule "plugins/revision3"]
	path = plugins/revision3
	url = https://github.com/NP-/showtime-plugin-revision3.git
[submodule "plugins/megaviewer"]
	path = plugins/megaviewer
	url = https://github.com/NP-/showtime-plugin-megaviewer.git
[submodule "plugins/omgmanga"]
	path = plugins/omgmanga
	url = https://github.com/NP-/showtime-plugin-omgmanga.git
[submodule "plugins/trailers"]
	path = plugins/trailers
	url = https://github.com/NP-/showtime-plugin-trailers.git
[submodule "plugins/hdtrailers"]
	path = plugins/hdtrailers
	url = https://github.com/NP-/showtime-plugin-hdtrailers.git
